<div class="container">

  <div class="row results">
    <!-- <h2>Reservations on my instruments</h2> -->
   <% @pending_demands.each do |demand| %>
    <li class="list-unstyled" style="margin-bottom: 8vh;">
      <div class="col-md-1 user-avatar text-center">
        <%= cl_image_tag demand.user.avatar, height: 48, crop: :fill, class: 'avatar-pics' %>
        
      </div>
      <div class="col-md-9">
      <h2><%= demand.user.first_name %> veut louer votre <%= demand.instrument.name %></h2>
      Du <%= demand.start_date %> au <%= demand.end_date %> à <%= demand.total_price %>€ 
      </div>
      <div class="button-container" style="display:flex;">
      <%= link_to 'Accepter', accept_demand_path(demand), method: 'patch', class: ' show-cta', style: 'width:150px; color:#FFF;'%>
      <%= link_to 'Refuser', refuse_demand_path(demand), method: 'patch', class: 'primary-text show-cta-outline', style: 'width:150px;' %>
      </div>
    </li>
   <% end %>



    <div class="col-xs-12 col-md-12 ">
      <div class="col-md-1">
          <%= cl_image_tag current_user.avatar, height: 48, width: 48, crop: :fill, class: "avatar-pics" %>
      </div>
      <div class="col-md-9 user-info" style="margin-left: 20px">
        <h4 class="primary-text"><%=current_user.first_name %> <%= current_user.last_name %></h4>
        <p>Inscrit le 12.08.2018</p>
      </div>
      <div class="col-md-1 user-info" >
        <p class="text-right"><%=current_user.email%></p>
        <p class="text-right"><%=current_user.phone_number%></p>
      </div>
      <div class="underline" style="margin-top: 80px;"></div>

      <div class="instruments" style="margin-top: 24px;"></div>
      <% @instruments.each do |instrument| %>

      <div class="col-xs-12 col-sm-3 text-center">
      <div class="card">

        <% if instrument.photo.url.nil?%>
          <div class="card-image" style="background-image: url('assets/default-instrument.png')"></div>
        <% else %>
          <div class="card-image" style="background-image: url('<%=image_path instrument.photo%>')"></div>
        <% end %>

        <div class="card-description">
            <!-- User name -->
            <h6 class="card-user-name"><%= current_user.first_name %> <%= current_user.last_name %></h6>
            <!-- Name of annonce -->
            <h5 class="card-user-instrument"><%= instrument.name %></h5>
            <!-- Résumé de l'annonce peut-être mettre une limite de caractère -->
            <p class="card-resume"><%= instrument.description %></p>

          </div>

          <div class="card-footer">
            <div class="row">
              <div class="col-sm-12 card-price">
                  <!-- Price de l'annonce -->
                  <%= link_to " Modifier", edit_instrument_path(instrument)%>
              </div>
              <div class="col-sm-12 card-price">
                  <!-- Supprimer de l'annonce -->
                  <%= link_to 'Supprimer',instrument_path(instrument), method: :delete, data: { confirm: "Vous êtes sur ?" } %>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
  <div class="row results">
    <div class="col-xs-6">
       <h2>Mon pognon gagné</h2>
        <% @accepted_demands.each do |demand| %>
       <li>
      <%= demand.user.first_name %> a demandé de louer votre du <%= demand.start_date %> au <%= demand.end_date %> pour la modique somme de <%= demand.total_price %> <%= link_to 'Accepter', accept_demand_path(demand), method: 'patch' %>
      <%= link_to 'Refuser', refuse_demand_path(demand), method: 'patch' %>
    </li>
    <% end %>
    </div>

    <div class="col-xs-6">
      <h2>Mon pognon perdu </h2>
      <% @reservations.each do |reservation| %>
    <li>
      <p><%= reservation.instrument.name %></p>
    </li>
   <% end %>
    </div>
  </div>
</div>


