<div class="container">

  <div class="row results">
    <div class="col-xs-12 col-md-7 ">
      <div class="col-md-1 user-avatar">
      <%= cl_image_tag current_user.avatar, height: 48, width: 48, crop: :fill, class: "avatar-pics" %>
      </div>
      <div class="col-md-4 user-info" style="margin-left: 20px ">
        <h4><%=current_user.first_name %> <%= current_user.last_name %></h4>
        <p><%= current_user.created_at.strftime("%d.%m.%y") %></p>
      </div>

      <div class="underline" style="margin-top: 80px;"></div>
      <div class="col-xs-10 primary-text">
        <h2 class="primary-text"> Gibson </h2>
      </div>
      <div class="col-xs-2 text-right">
        <h2 class="primary-text light"><%= @instrument.price %> €</h2>
      </div>
      <div class="underline" style="margin-top: 80px;"></div>

      <%= simple_form_for [@instrument, @reservation] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :message %>
        <%= f.submit 'demande de résa', class: 'btn show-cta cta-input' %>
      <% end %>


      <div class="col-md-12 description">
        <p> tapez ici</p>
      </div>

    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-1">

      <%= link_to "envoyez la demande", instrument_reservations_path, method: 'post', class: "btn show-cta cta-input" %>

    </div>
  </div>
</div>




