<div class="container">
  <!-- <div style="margin-top: 200px"> -->
  <div class="row results">

      <%= simple_form_for @instrument, url: instrument_path do |f| %>
      <%= f.input :city, label: "Ville" %>
      <%= f.input :category, label: 'Catégorie', collection: Instrument::CATEGORIES, as: :select %>
      <%= f.input :description, label: "Description"%>
      <%= f.input :photo, label: "Photo" %>
      <!-- Preview photo  -->
      <div id="preview">
        <img src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default-300x169.png" alt>

        <script src="http://code.jquery.com/jquery-3.1.0.min.js"
        integrity="shaa256-cCueBR6CsyA4/9szpPfrX3s49M9vUU58gtiJj06wt/s="
        crossorigin="anonymous">
       </script>

       <script type="text/javascript">
        function readURL(input){
         if(input.files && input.files[0]){
          var reader = new FileReader();
          reader.onload = function(e){
           $('#preview img').attr('src', e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
         }
        }
        $(document).on('change','input[type="file"]',function(){
         readURL(this);
        });
       </script>
      </div>
      <%= f.input :price, label: "Prix" %>
      <div>
      <%= f.submit 'Mise à jour', class: 'btn show-cta cta-input' %>
      </div>

      <% end %>
  </div>
</div>



<!-- t.bigint "user_id"
t.string "city"
t.string "category"
t.string "name"
t.text "description"
t.string "photo"
t.integer "price"
t.boolean "available", default: true
t.datetime "created_at", null: false
t.datetime "updated_at", null: false
t.float "latitude"
t.float "longitude"
t.index ["user_id"], name: "index_instruments_on_user_id"
 -->
