<div class="container">

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>

  <div class="row">
    <div class="col-xs-12 results">
      <div class="underline"></div>
      <h1>Voici les résultats de votre recherche</h1>
      <div class="underline"></div>
    </div>
    <% @instruments.each do |instrument| %>
      <div class="col-xs-12 col-sm-3 text-center">
        <div class="card">
          <div class="card-image">
            <% if instrument.photo.url.nil?%>
              <%= image_tag("default-instrument.png", class: "instrument-image")  %>
            <% else %>
              <%= cl_image_tag instrument.photo, crop: :fill, class: "instrument-image" %>
            <% end %>
          </div>
          <div class="card-description">

            <!-- User name -->
            <h6 class="card-user-name"><%= instrument.user.first_name %> <%= instrument.user.last_name %></h6>
            <!-- Name of annonce -->
            <h5 class="card-user-instrument"><%= link_to instrument.name, instrument_path(instrument) %></h5>
            <!-- Résumé de l'annonce peut-être mettre une limite de caractère -->
            <p class="card-resume"><%= instrument.description %></p>

          </div>

          <div class="card-footer">
            <div class="row">
              <div class="col-sm-2 card-price">
                  <!-- Price de l'annonce -->
                  <%= link_to instrument.price, instrument_path(instrument)%>€/jour

              </div>
                </div>
              </div>

            <!-- Image de l'utilisateur -->
            <% if instrument.user.avatar.nil? %>
                  <%= image_tag('logo.png') %>
                <% else %>
                  <%= cl_image_tag instrument.user.avatar, crop: :fill, class: "card-user" %>
                <% end %>
             <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
             <%= link_to '', instrument_path(instrument), class: "card-link"  %>
            <!-- <a class="card-link" href="#" ></a> -->
          </div>
        </div>
      <% end %>
    </div>
</div>







